<div class="content">
<h2>Login</h2>

<%= simple_form_for :user do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <div class="input boolean">
    <%= check_box_tag :remember, 1, params[:remember], :class => "boolean"%>
    <%= label_tag :remember, "Remember Me", :class => "string" %>
</div>
  <%= f.button :submit, 'Log In' %>
<% end %>

<p class="forgot"><%= link_to "forgotten password?", new_password_reset_path %></p>
</div>
