<div class="wide_content">
  <h2>Edit Profile <%= link_to "Import Pomodoros", io_path %></h2>
  <%= simple_form_for @user, :html => {:multipart => true} do |f| %>
  <div class="left_column">
    <%= f.input :username %>
    <%= f.input :url %>
    <%= f.input :avatar %>
  </div>
  <div class="right_column">
    <%= f.input :work_time, collection: [5,10,15,20,25,30,35,40,45,50,55,60]%>
    <%= f.input :break_time, collection: [1,2,3,4,5,10,15,20,25]%> 
    <%= f.input :long_break_time, collection: [5,10,15,20,25] %>
  </div>
  <%= f.submit 'Save Profile' %>
  <% end %>
</div>

