<div class="wide_content">
  
  <div class="user_profile">
    <%= image_tag @user.avatar(:profile) %>
    <div>
      <h3><%= @user.username %></h3>
      <p><%=link_to @user.url, @user.url, :target => "_blank" %></p>
    </div>
  </div>

  <div class="clear"></div>
  
  <h2 class="stats">Stats</h2>
  
  <ul class="stat_wrapper">
    <li>
      <div class="statistic">
        <p><%= @stats.today %></p>
      </div>
      <div class="statistic_type">
        <p>Today</p>
      </div>
    </li>
    <li>
      <div class="statistic">
        <p><%= @stats.average %></p>
      </div>
      <div class="statistic_type">
        <p>Average per day</p>
      </div>
    </li>
    <li>
      <div class="statistic">
        <p><%= @stats.this_month %></p>
      </div>
      <div class="statistic_type">
        <p>This month</p>
      </div>
      <li class="last">
      <div class="statistic">
        <p><%= @stats.this_year %></p>
      </div>
      <div class="statistic_type">
        <p>This year</p>
      </div>
    </li>
</div>
