<div class="wide_content">
  
  <div class="user_profile">
    <%= image_tag @user.avatar(:profile), class: 'avatar' %>
    <div>
      <h3><%= @user.username %></h3>
      <p><%=link_to @user.external_link, @user.external_link, :target => "_blank" %></p>
    </div>
  </div>

  <div class="clear"></div>
  
  <h2 class="stats">Stats</h2>
  
  <ul class="stat_wrapper">
    <li>
      <div class="statistic">
        <p><%= @stats.today %></p>
      </div>
      <div class="statistic_type">
        <p>Today</p>
      </div>
    </li>
    <li>
      <div class="statistic">
        <p><%= @stats.average %></p>
      </div>
      <div class="statistic_type">
        <p>Average per day</p>
      </div>
    </li>
    <li>
      <div class="statistic">
        <p><%= @stats.this_month %></p>
      </div>
      <div class="statistic_type">
        <p>This month</p>
      </div>
    </li>
    <li>
      <div class="statistic">
        <p><%= @stats.this_year %></p>
      </div>
      <div class="statistic_type">
        <p>This year</p>
      </div>
      </li>
      <span class="div-stretch"></span>
  </ul>
  <div class="clear"></div>

  <h2 class="stats">Trends</h2>
  <ul class="stat_wrapper" id="trends">
    <li>
    <div class="trend">
        <p><%=raw @stats.most_productive_time %></p>
    </div>
      <p class="statistic_type">Most productive time</p>
    </li>
    <li>
      <div class="trend " id="most_in_one">
        <p><%= @stats.most_in_one[1] %></p>
      </div>
        <p class="statistic_type">Most in one day<br />
          <span class="most_date"><%= @stats.most_in_one[0] %></span></p>
    </li>
    <li>
      <div class="trend">
        <p><%= @stats.best_day%></p>
      </div>
      <p class="statistic_type">Most productive day</p>
    </li>
    <span class="div-stretch"></span>
  </ul>
  <div class="clear"></div>
  
  <h2 class="stats">Tags</h2>
  <ul class="tags">
    <% @user.tags.each do |tag| %>
      <li class="<%= cycle('','alt') %>">
        <p class="tags_tag"><%= tag[0] %></p> 
        <p class="tags_count"><%= tag[1] %></p>
      <div class="clear"></div>
        </li>
    <% end %>
  </ul>

  <h2 class="stats">Recent Pomodoros</h2>
    <%= content_tag :canvas, "", id: "pomodoro_chart", data: {pomodoros: @user.by_day}, width: 800, height: 400 %>
  </div>
