{{#if view.isEditing}}
<div class="pomodoro_details">
  {{view Ember.TextField valueBinding="tag"}}  
  
</div>
<div class="actions ss-icon">
  <a {{action update target="view"}}>check</a>
</div>
<div class="clear"></div>
{{else}}

  <div class="pomodoro_details">
    <p>{{pomodoro_time startTime}}—{{pomodoro_time endTime}}
    {{#if tag}}<span class="tag">{{tag}}</span>{{/if}}</p>
  </div>

  <div class="actions ss-icon">
    <p>
    <a {{action edit target="view"}}>edit</a>
    <a class="destroy" {{action deletePomodoro id }} class="delete_pomodoro">delete</a>
    </p>
  </div>
  <div class="clear"></div>
{{/if}}