<div class="timer">
  <input type="text" readonly="true" class="dial" data-min="0" data-max={{unbound timer.seconds}} value={{unbound timer.seconds}} >
  <div class="progress">
    {{minutes timer.seconds}}
  </div>

  <div class="timer-controller">
    <a {{action toggleTimer}}>{{timer.nextAction}}</a>
    <a {{action reset}}>Reset</a>
  </div>
</div>

<div>
  <p>Today</a>
  {{each model itemController='pomodoro' itemViewClass='Pomade.PomodoroView'}}
  

</div>

