<div class="timer">
  <canvas id="progress_circle" width=280 height=280> </canvas>
  <div class="progress">
    {{minutes timer.seconds}}
  </div>

  <div class="timer-controller">
    <a {{action toggleTimer}}>{{timer.nextAction}}</a>
    <a {{action reset}}>Reset</a>
  </div>
</div>

<div>
  <p>Today</a>
  {{each model itemController='pomodoro' itemViewClass='Pomade.PomodoroView'}}
  

</div>

