<div id="timer_wrapper">
  <div class="container">
    {{#with model}}
    <div id="timer_status">
      <p>{{seconds}}</p>
    </div>
  
    <div class="clear"></div>
  
    <button id="timerController" class="ss-icon" {{bindAttr class="status"}} {{action toggleTimer}}>{{nextAction}}</button>

    {{/with}}
  
    <div id="timer_type">
      {{type}}
    </div> 
  
    <div id="timer_counter">
      <!-- show number of pomodoros complete today -->
    </div>
  </div>
</div>

{{ outlet }}