<div id="timer_wrapper">
    <div id="timer_status" class="content">
      <p>{{time model.seconds}}</p>
    </div>
    <div class="clear"></div>
    <div class="tag_field content">
      <h3>What are you working on?</h3>
      {{view Ember.TextField valueBinding="pomodoroTag" placeholder="The Penske File"}}
    </div>
    <button id="timerController" class="ss-icon content" {{bindAttr class="status"}} {{action toggleTimer}}>
      {{nextAction}}
    </button>
    
    <div id="timer_details" class="content">
      <div id="timer_type">
        {{type}}
      </div> 
      {{pomodoroCount}}
    </div>
  </div>
  

</div>


{{outlet}}


