<div id="timer_wrapper">
  <div class="container">
    <div id="timer_status">
      <p>{{time seconds}}</p>
    </div>
  
    <div class="clear"></div>
  
    <button id="timerController" class="ss-icon" {{bindAttr class="status"}} {{action toggleTimer}}>{{nextAction}}</button>
    
    <div id="timer_details">
      <div id="timer_type">
        {{type}}
      </div> 
  
      <div id="timer_counter">
        {{pomodoroCount}}
      </div>
    </div>
  </div>
</div>
{{ outlet }}
