<!DOCTYPE html>
<html>
<head>
  <title>Pomade</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/wty3xxz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <header>
    <h1>Pomade</h1>
  </header>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}", class: "flash" %>
  <% end %>
  
  <%= yield %>
  
</body>
</html>
