<!DOCTYPE html>
<html>
<head>
  <title>Pomade</title>
  <meta name="description" content="Pomade is a Pomodoro time tracking app. Set a timer for 25 minutes, get work done, the break for 5 minutes. Track your pomodoros to see your progress." />
  <meta name="viewport" content="user-scalable=0, initial-scale=1.0" />

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/wty3xxz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body class='<%= controller_path %>'>
  <header>
    <div class="wide_content">
      <h1><%= link_to "Pomade", root_path %></h1>
      <%= render "#{current_user.to_partial_path}"%>
    </div>
  </header>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}", class: "flash" %>
  <% end %>
  
  <%= yield %>
  
</body>
</html>
